<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:allowBackup="true" android:fullBackupContent="@xml/backup_rules" android:dataExtractionRules="@xml/data_extraction_rules" android:label="Thu chi" android:theme="@style/Theme.ThuChi" android:usesCleartextTraffic="false">
        <activity android:name=".QuickEntryActivity" android:exported="false" android:excludeFromRecents="true" android:noHistory="true" android:theme="@style/Theme.ThuChi.QuickEntry"/>
        <activity android:name=".WidgetConfigActivity" android:exported="true" android:theme="@style/Theme.ThuChi"/>
        <receiver android:name=".QuickEntryWidgetProvider" android:exported="false">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/quick_entry_widget_info"/>
        </receiver>
        <activity android:name=".MainActivity" android:exported="true" android:screenOrientation="unspecified" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
